<div>
    <h1 v-if="$route.params.idKarte">Izmeni Kartu</h1>
    <h1 v-else>Dodaj Kartu</h1>
    <form name="sacuvaj" @submit.prevent="sacuvaj" method="post">
        <label for="film_id">Ime Filma: </label>
        <select name="film_id" id="film_id" v-model="projekcije.film_id"   required> <br>
            <option v-for="film in filmici" :key="film.idFilm" :value="film.idFilm">{{ film.naziv }}</option>
        </select> <br>
        <label for="korisnik_id">Ime korisnika: </label>
        <select name="korisnik_id" id="korisnik_id" v-model="projekcije.korisnik_id" required>
            <option :key="korisnik.idKorisnik" :value="korisnik.idKorisnik">{{korisnik.korisnicko_ime}}</option>
        </select> <br>
        <label for="datum_kupovine">Datum kupovine: </label>
        <input type="date" name="datum_kupovine" id="datum_kupovine" v-model="novaKarta.datum_kupovine"> <br>
        <label for="cena">Cena: </label>
        <input type="text" name="cena" id="cena" v-model="novaKarta.cena" required> <br>
        <button type="submit" v-if="$route.params.idKarte">Izmeni Kartu</button>
        <button type="submit" v-else>Dodaj Kartu</button>  
    </form>
    </div>