<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioskop Prodavnica</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div id="app" class="container">
        <div class="pDesno">
            <h1>Pretraga </h1>
            <form @submit.prevent="pretrazivanje" method="GET" >
                <input type="text" v-model="podatak" placeholder="Pretraga" required>
                <button type="submit">Search</button>
            </form>
            <ul>
              <li v-for="(rezultat, i) in podatakPretrage" :key="i">{{rezultat.naziv}}</li>
            </ul>
        </div>

        <div class="butonic">
            <button>
                <router-link to="/login"> PRIJAVA </router-link>
            </button>
            <button>
                <router-link to="/register"> Kreiranje Naloga </router-link>
            </button>
        </div>

        <div class="listic">
            <h1>Bioskop Prodavnica</h1> 
                <ul>
                    <li>
                        <router-link to="/">Pocetna</router-link>
                    </li>
                </ul>
            <div >
                <router-view></router-view>    
            </div>
        </div>

        <div>

        </div>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/vue-router.global.js"></script>
    <script src="js/axios.js"></script>
    <script src="app/app.js" type="module"></script>


</body>
</html>