table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.pDesno {
    float: right;
    margin-right: 50px;
}
.container {
    display: flexbox;
    justify-content: space-between;
}
.butonic {
    text-align: center;
}
.butonic button{
    text-align: center;
    background-color: aqua;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    margin: 4px 4px;
}
.ruteri {
    border-collapse:collapse;
    border:1px solid black;
    padding: 10px 10px;
}
